h1 {
    text-align: center;
    color: black;
}

body {
    background-color: white;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: center;
}

li {
    padding: 1em;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
  }

div {
    color: black;
    justify-content: center;
    text-align: center;
}

.active {
    background-color: #04AA6D;
  }