
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 100%;
    flex: 1 0 auto;
}

.header {
    text-align: center;
    padding: 0;
}

.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

.header li a {
    color: #000;
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    outline: none;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    gap: 0.5em;
    font-size: 18px;
}